.about {
  color: white;
  text-shadow: .1rem .1rem grey;
  background-color: $mainBlue;
  margin-left: -.25rem;
  margin-right: -.25rem;
  border-bottom: .5rem solid grey;

  &-meet {
    color: $mainRed;
    font-family: 'Barrio', cursive;
    font-size: 3rem;
    text-shadow: .05rem .05rem black;
  }

    &-list-personel {
      margin-top: 1rem;
      list-style: none;
      text-align: center;
      font-weight: 250;
      line-height: 3rem;
      font-size: 1.3rem;
      font-weight: 100;


  }

  &-people {
    color: $mainRed;
      text-shadow: .05rem .05rem black;
      font-weight: bold;

  }
}
