.functional {
  overflow: hidden;
    color: #2277EA;
    padding-bottom: 2rem;
      text-shadow: .02rem .02rem grey;

  &-centered {
    text-align: center;
  }

  &-list {
    list-style: none;
    line-height: 2.5rem;

    &-border {
      border-top-style: solid;
      border-top-width: 80%;
      border-color: $mainRed;
      margin-bottom: 1rem;
    }

  }
  &-smaller{
    font-size: .7rem;
  }

  &-list-heading {
    font-size: 1.3rem;
    color: rgba(255, 213, 0, 1);



}
    &-love-list {
      list-style: none;
      line-height: 1.8;
      color: rgba(255, 213, 0, 1);
      padding-top: .6rem;
      margin-bottom: .8rem;
      font-size: 2rem;


}
&-line-spacing{
  line-height: 6rem;
  font-size: 2rem;
}
}
