


.main-heading {

  background-color: rgba(255, 213, 0, 1);
  margin-left: -.25rem;
  margin-right: -.25rem;
  margin-top: -2.5rem;
  border-bottom: .5rem solid grey;
  padding-top: 8rem;
  @mixin atSmall {
    padding-left: 2rem;
  }

  &-sizzle {

      text-align: center;
      font-size: 1.3rem;
      color: grey;
      text-shadow: .05rem .05rem white;
      line-height: 3;
 & img {
   width: 3rem;
   height: 3rem;
  transform: translateY(.95rem);

 }

    &-anybody {
      font-size: 3rem;
      color: $mainRed;
      text-shadow: .05rem .05rem grey;
      margin-bottom: 0;
      margin-top: -3rem;

    }
    }



&-centered {
  text-align: center;
}

&-logo {
  width: 10%;
  height: 10%;
  margin: auto;
  margin-bottom: -.5rem;
}

&-bottom-border {
  width: 53%;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 50%;
  border-color: $mainRed;
  box-shadow: 0 .05rem grey;
}

&-announcement {
color: #0025CF;
font-size: 3rem;
text-align: center;
text-shadow: .05rem .05rem white;

  & a:link {
    color: #0025CF;
  }

  & a:visited {
    color: inherit;
}

&-size {
  font-size: 3rem;
}


}
&-announcement-img {
  width: 40%;
  height: 40%;
  text-align: center;

}
&-shoes {
  font-family: 'Barrio', cursive;
  color: $mainRed;
  text-shadow: .15rem .15rem grey;
}

&-subtitle {
  text-align: center;
  color: grey;
  text-shadow: .05rem .05rem white;
  margin-top: -.8rem;
}

  &-title {
    font-family: 'Barrio', cursive;
    color: $mainRed;
    text-align: center;
    font-size: 2rem;
    text-shadow: .15rem .15rem grey;
    margin-top: -1rem;

    @mixin atSmall {
    font-family: 'Barrio', cursive;
    color: $mainRed;
    text-align: center;
    font-size: 4rem;
    text-shadow: .15rem .15rem grey;
   }
  }


&-caption {
  text-align: center;
  font-size: 1.3rem;
  margin-top: -2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: grey;
  text-shadow: .05rem .05rem white;

  @mixin atSmall {
    font-size: 1.3rem;
    padding: none;
  }


}


&-video {
  text-align: center;
  position: relative;
   padding-bottom: 56.25%;
   padding-top: 35px;
   height: 0;
   overflow: hidden;

   &-wrapper {
     padding-left: 3rem;
     padding-top: 3rem;
     padding-right: 1.5rem;
     padding-bottom: 3rem;
     margin-top: -2rem;
     margin-bottom: -2rem;
     min-width: 8rem;
     min-height: 4.5rem;

     @mixin atSmall {
       padding-left: 6.75rem;
       padding-top: 12rem;
       padding-right: 6.75rem;
       padding-bottom: 12rem;
       margin-top: -10rem;
       margin-bottom: -10rem;
       min-width: 32rem;
       min-height: 18rem;
   }
   }

   & > iframe {
     position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
   }
}

}


.announcement-box {
  background-color: #0025CF;
  position:absolute;
  color:rgba(255, 213, 0, 1);
  width: 20%;
  margin-top: 3.7rem;
  text-align: center;

  & a:link {
    color:rgba(255, 213, 0, 1);
  }

  & a:hover {
    color:rgba(255, 213, 0, 1);
  }
& a:visited {
  color:rgba(255, 213, 0, 1);
}
}
