.navbar {
  margin-top: -2rem;
  background: rgba(255,35,0, .85);
  color: rgba(255, 213, 0, 1);
  position: fixed;
  display: inline;
  width: 100%;
  padding: 10px 10px 10px 10px;
  z-index: 5;


  &::after {
    content: "";
    clear: both;
    display: table;
  }


  a {
    color: rgba(255, 213, 0, 1);
  }


&-img-container {
  display: inline;
}


  & img {
    width: 5%;
    height: 5%;
    float: left;
  }


  li {
    font-size: 1.5rem;
    list-style: none;
    float: right;
    margin-left: 2rem;
  }
}
