.press {
  &-subheading {
    font-size: 2rem;
    color: #0025CF;
  }

  &-image {
    width: 50%;
    margin: auto;
    margin-bottom: 2.5rem;
  }

  &-review {
    &-image {

      & img {
        width: 80%;
      }
    }
    &-text {
      padding-top: 10%;


    }
  }

  &-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;
  }
}
