.shoes {
&-social-media {
  font-family: 'Barrio', cursive;
  font-weight: 200;
  font-size: 4rem;
  color: $mainRed;
  text-shadow: .05rem .05rem grey;
  text-align: center;
}
  &-centered {
    text-align: center;
  }
  &-font {
    font-family: 'Barrio', cursive;
    font-weight: 200;
    font-size: 2rem;
    color: $mainRed;
    text-shadow: .05rem .05rem grey;
    @mixin atSmall {
      font-size: 2rem;

    }
  }
}
