body {
  background-color: black;
  color: white;
  padding-top: 2rem;
  margin: 0;
  font-family: 'Shadows Into Light Two', cursive;

}

img {
  height: 100%;
  width: 100%;
}


* {
  box-sizing: border-box;
  /*outline: solid green 1px !important; */

}
