.functional {
  overflow: hidden;
    color: #2277EA;

  &-centered {
    text-align: center;
  }

  &-meet {

    font-size: 1.5rem;
  }
  &-list {
    text-align: center;
    list-style: none;
    line-height: 2.5rem;
    margin-left: -40px;
    &-1  {
      font-size: 2rem;
    }
    &-2 {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
  &-smaller{
    font-size: .7rem;
  }
  &-video {
  text-align: center;
  margin-top: 5rem;
margin-bottom: 5rem;
  }
}
