.main-heading {
  background-color: rgba(255, 213, 0, 1);
  margin-left: -.25rem;
  margin-right: -.25rem;
  border-bottom: .5rem solid grey;


  &__title {
    font-family:'Pangolin', cursive;
    color: $mainRed;
    text-align: center;
    font-size: 4rem;
    text-shadow: .15rem .15rem grey;
  }


&__caption{
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  font-size: 1.3rem;
  color: grey;
  text-shadow: .05rem .05rem white;
  margin-top: 4rem;
}

&-video {
text-align: center;
margin-top: 3rem;
margin-bottom: 2rem;
}

}
